* linguist-vendored
./huffman/* linguist-vendored=false
./ppm/* linguist-vendored=false
./lgb_vq/*.cpp linguist-vendored=false
./lgb_vq/*.hpp linguist-vendored=false
./lgb_vq/*.sh linguist-vendored=false

