* linguist-vendored
./huffman/* linguist-vendored=true
./ppm/* linguist-vendored=true
./lgb_vq/*.cpp linguist-vendored=true
./lgb_vq/*.hpp linguist-vendored=true
./lgb_vq/*.sh linguist-vendored=true
./lgb_vq/*.ipynb linguist-vendored=false
